<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.entecmedia.boendersfitness">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.OpeningHoursActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.activities.AllOpeningHoursActivity"
            android:screenOrientation="behind" />
        <activity
            android:name=".ui.misc.NavigationDrawer"
            android:screenOrientation="behind" />

        <!--
        android:allowBackup="false" deletes sharedpreferences
        when user deletes app or installs from another device
        -->
        <!--
        applying 'android:screenOrientation="behind"' to every individual activity here
        prevents a bug where, with help of the corresponding Code in Activity Java files
        and the screenOrientation xml file in certain 'Values' Directories, the app
        might jump to an illegal screen orientation for a split second upon launch.
        This bug fix does not work when 'android:screenOrientation="behind"' is assigned
        to application node.
        -->
    </application>

</manifest>